main{
  width: 100%;
  // height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  nav{
    width: 100%;
    height: 80px;
    background-color: #242422;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .config{
      width: 250px;
      height: 100%;
      background-color: #242422;
    }

    .preview{
      width: calc(100% - 250px);
      padding: 10px;
    }
  }
}
